<a href="https://colab.research.google.com/github/EishaMazhar/Glassdoor-Salary-Prediction/blob/main/Model%20Building-Job%20Description-NN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
# train test split 
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

In [2]:
df = pd.read_csv("preprocessed_data.csv")
df

      Unnamed: 0                                 Job Title  ... tableau azure
0              0                            Data Scientist  ...       0     1
1              1                             Web Developer  ...       0     0
2              2                              Data Analyst  ...       1     0
3              3                    Database Administrator  ...       0     0
4              4                             iOS Developer  ...       0     0
...          ...                                       ...  ...     ...   ...
4912        4912                       Front End Developer  ...       0     0
4913        4913              Sr Software Quality Engineer  ...       0     0
4914        4914                      Lead Mobile Engineer  ...       0     0
4915        4915  Cloud Infrastructure Engineer (SRE/Java)  ...       0     0
4916        4916        Development Chapter Lead in Retail  ...       0     0

[4917 rows x 35 columns]

In [3]:
df.columns

Index(['Unnamed: 0', 'Job Title', 'Salary Estimate', 'Job Description',
       'Rating', 'Company Name', 'Location', 'Size', 'Founded',
       'Type of ownership', 'Industry', 'Sector', 'Revenue', 'hourly',
       'employer_provided', 'min_salary', 'max_salary', 'avg_salary',
       'job_state', 'age', 'job_title_tag', 'seniority', 'desc_len', 'python',
       'R', 'spark', 'aws', 'excel', 'sql', 'django', 'hadoop', 'java', 'db',
       'tableau', 'azure'],
      dtype='object')

In [4]:
df['Job Title'].unique()

array(['Data Scientist', 'Web Developer', 'Data Analyst', ...,
       'Lead Mobile Engineer', 'Cloud Infrastructure Engineer (SRE/Java)',
       'Development Chapter Lead in Retail'], dtype=object)

In [5]:
df_model = df[['Job Title', 'Rating','Company Name', 'Company Name', 'Size',
               'Type of ownership', 'Industry', 'Sector', 'Revenue', 'hourly', 'employer_provided',
               'avg_salary', 'job_state', 'age',
               'job_title_tag', 'seniority', 'desc_len', 'python', 'R', 'spark', 'aws',
               'excel', 'sql', 'django', 'hadoop', 'java', 'db', 'tableau', 'azure']]

In [6]:
dummy_df = pd.get_dummies(df_model)

X = dummy_df.drop('avg_salary', axis =1)
y = dummy_df.avg_salary.values

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=24)

In [7]:
df['Job Description'].map(lambda x: len(x)).mean()

1031.6672767947937

In [8]:
! pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)

In [9]:
from nltk.stem.porter import PorterStemmer
from nltk.tokenize import RegexpTokenizer
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer

In [10]:
stemmer = PorterStemmer()
tokenizer = RegexpTokenizer("[a-z']+")

In [11]:
# preprocess text
def get_tokens(description):
    text_tokens = tokenizer.tokenize(description)
    stemmed_tokens = [stemmer.stem(x) for x in text_tokens]
    return stemmed_tokens

In [12]:
vectorizer = TfidfVectorizer(stop_words='english', ngram_range=(1,1), tokenizer=get_tokens)

In [13]:
transformed_text = vectorizer.fit_transform(df['Job Description'])

/usr/local/lib/python3.7/dist-packages/sklearn/feature_extraction/text.py:385: UserWarning: Your stop_words may be inconsistent with your preprocessing. Tokenizing the stop words generated tokens ['abov', 'afterward', 'alon', 'alreadi', 'alway', 'ani', 'anoth', 'anyon', 'anyth', 'anywher', 'becam', 'becaus', 'becom', 'befor', 'besid', 'cri', 'describ', 'dure', 'els', 'elsewher', 'empti', 'everi', 'everyon', 'everyth', 'everywher', 'fifti', 'formerli', 'forti', 'ha', 'henc', 'hereaft', 'herebi', 'hi', 'howev', 'hundr', 'inde', 'latterli', 'mani', 'meanwhil', 'moreov', 'mostli', 'nobodi', 'noon', 'noth', 'nowher', 'onc', 'onli', 'otherwis', 'ourselv', 'perhap', 'pleas', 'seriou', 'sever', 'sinc', 'sincer', 'sixti', 'someon', 'someth', 'sometim', 'somewher', 'themselv', 'thenc', 'thereaft', 'therebi', 'therefor', 'thi', 'thu', 'togeth', 'twelv', 'twenti', 'veri', 'wa', 'whatev', 'whenc', 'whenev', 'wherea', 'whereaft', 'wherebi', 'wherev', 'whi', 'yourselv'] not in stop_words.
  'stop_words.' % sorted(inconsistent))

In [14]:
transformed_text

<4917x12791 sparse matrix of type '<class 'numpy.float64'>'
	with 348052 stored elements in Compressed Sparse Row format>

In [15]:
X_train, X_test, y_train, y_test = train_test_split(transformed_text, df['avg_salary'], test_size=0.3)

In [16]:
from sklearn.naive_bayes import GaussianNB

In [17]:
gnb_model = GaussianNB().fit(X_train.toarray(), y_train.astype('int'))

In [18]:
y_pred = gnb_model.predict(X_test.toarray())

In [19]:
mean_squared_error(y_test, y_pred)

623.5960365853658

In [20]:
from sklearn.ensemble import RandomForestRegressor
rf_model = RandomForestRegressor().fit(X_train.toarray(), y_train.astype('int'))

In [ ]:
y_pred = rf_model.predict(X_test.toarray())

In [ ]:
mean_squared_error(y_test, y_pred)

In [22]:

!pip install tensorflow_hub

Requirement already satisfied: tensorflow_hub in /usr/local/lib/python3.7/dist-packages (0.12.0)
Requirement already satisfied: numpy>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_hub) (1.19.5)
Requirement already satisfied: protobuf>=3.8.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow_hub) (3.12.4)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow_hub) (1.15.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.8.0->tensorflow_hub) (56.1.0)

In [23]:
import tensorflow as tf
import tensorflow_hub as hub

In [24]:

model_link = "https://tfhub.dev/google/tf2-preview/gnews-swivel-20dim/1"
hub_layer = hub.KerasLayer(model_link, output_shape=[20], input_shape=[], 
                           dtype=tf.string, trainable=True)

In [25]:
model = tf.keras.Sequential()
model.add(hub_layer)
model.add(tf.keras.layers.Dense(128, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(64, activation='relu'))
model.add(tf.keras.layers.Dropout(0.2))
model.add(tf.keras.layers.Dense(1, activation='relu'))

model.summary()

Model: "sequential"
_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
keras_layer (KerasLayer)     (None, 20)                400020
_________________________________________________________________
dense (Dense)                (None, 128)               2688
_________________________________________________________________
dropout (Dropout)            (None, 128)               0
_________________________________________________________________
dense_1 (Dense)              (None, 64)                8256
_________________________________________________________________
dropout_1 (Dropout)          (None, 64)                0
_________________________________________________________________
dense_2 (Dense)              (None, 1)                 65
=================================================================
Total params: 411,029
Trainable params: 411,029
Non-trainable params: 0
_________________________________________________________________

In [26]:
model.compile(optimizer='adam',
              loss=tf.losses.MeanSquaredError(),
              metrics=['mae', 'mse', 'msle'])

In [27]:
history = model.fit(df['Job Description'], df['avg_salary'],
                    epochs=50,
                    batch_size=256,
                    verbose=1)

Epoch 1/50
20/20 [==============================] - 1s 22ms/step - loss: 7240.6523 - mae: 80.3475 - mse: 7240.6523 - msle: 8.1974
Epoch 2/50
20/20 [==============================] - 0s 24ms/step - loss: 3702.2881 - mae: 53.1668 - mse: 3702.2881 - msle: 1.3346
Epoch 3/50
20/20 [==============================] - 0s 24ms/step - loss: 1555.5347 - mae: 29.6674 - mse: 1555.5347 - msle: 0.2423
Epoch 4/50
20/20 [==============================] - 0s 22ms/step - loss: 1374.3898 - mae: 28.0389 - mse: 1374.3898 - msle: 0.2300
Epoch 5/50
20/20 [==============================] - 0s 21ms/step - loss: 1277.0636 - mae: 26.7696 - mse: 1277.0636 - msle: 0.1914
Epoch 6/50
20/20 [==============================] - 0s 22ms/step - loss: 1197.3607 - mae: 25.8667 - mse: 1197.3607 - msle: 0.1743
Epoch 7/50
20/20 [==============================] - 0s 22ms/step - loss: 1102.7515 - mae: 24.7947 - mse: 1102.7515 - msle: 0.1546
Epoch 8/50
20/20 [==============================] - 0s 23ms/step - loss: 1028.2662 - mae: 23.9027 - mse: 1028.2662 - msle: 0.1411
Epoch 9/50
20/20 [==============================] - 0s 22ms/step - loss: 985.2870 - mae: 23.4968 - mse: 985.2870 - msle: 0.1344
Epoch 10/50
20/20 [==============================] - 0s 23ms/step - loss: 941.6911 - mae: 22.8330 - mse: 941.6911 - msle: 0.1296
Epoch 11/50
20/20 [==============================] - 0s 22ms/step - loss: 924.9478 - mae: 22.6559 - mse: 924.9478 - msle: 0.1262
Epoch 12/50
20/20 [==============================] - 0s 23ms/step - loss: 869.3482 - mae: 21.9942 - mse: 869.3482 - msle: 0.1190
Epoch 13/50
20/20 [==============================] - 0s 23ms/step - loss: 823.4442 - mae: 21.3050 - mse: 823.4442 - msle: 0.1128
Epoch 14/50
20/20 [==============================] - 0s 22ms/step - loss: 799.2530 - mae: 21.0337 - mse: 799.2530 - msle: 0.1101
Epoch 15/50
20/20 [==============================] - 0s 22ms/step - loss: 769.2548 - mae: 20.7093 - mse: 769.2548 - msle: 0.1063
Epoch 16/50
20/20 [==============================] - 0s 22ms/step - loss: 739.8320 - mae: 20.3460 - mse: 739.8320 - msle: 0.1019
Epoch 17/50
20/20 [==============================] - 0s 23ms/step - loss: 699.2003 - mae: 19.7489 - mse: 699.2003 - msle: 0.0965
Epoch 18/50
20/20 [==============================] - 0s 22ms/step - loss: 687.5364 - mae: 19.5795 - mse: 687.5364 - msle: 0.0951
Epoch 19/50
20/20 [==============================] - 0s 23ms/step - loss: 662.6351 - mae: 19.2539 - mse: 662.6351 - msle: 0.0921
Epoch 20/50
20/20 [==============================] - 1s 25ms/step - loss: 632.6200 - mae: 18.5555 - mse: 632.6200 - msle: 0.0871
Epoch 21/50
20/20 [==============================] - 0s 23ms/step - loss: 600.0870 - mae: 18.2223 - mse: 600.0870 - msle: 0.0836
Epoch 22/50
20/20 [==============================] - 0s 24ms/step - loss: 577.7868 - mae: 17.8033 - mse: 577.7868 - msle: 0.0798
Epoch 23/50
20/20 [==============================] - 0s 22ms/step - loss: 554.6890 - mae: 17.6288 - mse: 554.6890 - msle: 0.0779
Epoch 24/50
20/20 [==============================] - 0s 24ms/step - loss: 536.5589 - mae: 17.1464 - mse: 536.5589 - msle: 0.0735
Epoch 25/50
20/20 [==============================] - 1s 27ms/step - loss: 502.4937 - mae: 16.7643 - mse: 502.4937 - msle: 0.0709
Epoch 26/50
20/20 [==============================] - 1s 26ms/step - loss: 480.4580 - mae: 16.3640 - mse: 480.4580 - msle: 0.0682
Epoch 27/50
20/20 [==============================] - 0s 22ms/step - loss: 468.1621 - mae: 16.1260 - mse: 468.1621 - msle: 0.0663
Epoch 28/50
20/20 [==============================] - 0s 22ms/step - loss: 441.3531 - mae: 15.7793 - mse: 441.3531 - msle: 0.0623
Epoch 29/50
20/20 [==============================] - 0s 22ms/step - loss: 427.0865 - mae: 15.3626 - mse: 427.0865 - msle: 0.0600
Epoch 30/50
20/20 [==============================] - 0s 24ms/step - loss: 401.4554 - mae: 15.0606 - mse: 401.4554 - msle: 0.0577
Epoch 31/50
20/20 [==============================] - 0s 23ms/step - loss: 394.4135 - mae: 14.9099 - mse: 394.4135 - msle: 0.0555
Epoch 32/50
20/20 [==============================] - 0s 23ms/step - loss: 385.6486 - mae: 14.6607 - mse: 385.6486 - msle: 0.0550
Epoch 33/50
20/20 [==============================] - 0s 24ms/step - loss: 358.4080 - mae: 14.2615 - mse: 358.4080 - msle: 0.0510
Epoch 34/50
20/20 [==============================] - 0s 24ms/step - loss: 356.3641 - mae: 14.1461 - mse: 356.3641 - msle: 0.0511
Epoch 35/50
20/20 [==============================] - 0s 22ms/step - loss: 345.5729 - mae: 13.9064 - mse: 345.5729 - msle: 0.0491
Epoch 36/50
20/20 [==============================] - 0s 23ms/step - loss: 322.9323 - mae: 13.5218 - mse: 322.9323 - msle: 0.0468
Epoch 37/50
20/20 [==============================] - 0s 22ms/step - loss: 320.2650 - mae: 13.3611 - mse: 320.2650 - msle: 0.0461
Epoch 38/50
20/20 [==============================] - 0s 24ms/step - loss: 308.9649 - mae: 13.2569 - mse: 308.9649 - msle: 0.0446
Epoch 39/50
20/20 [==============================] - 0s 22ms/step - loss: 298.6838 - mae: 13.0329 - mse: 298.6838 - msle: 0.0431
Epoch 40/50
20/20 [==============================] - 0s 22ms/step - loss: 291.9163 - mae: 12.9092 - mse: 291.9163 - msle: 0.0419
Epoch 41/50
20/20 [==============================] - 0s 23ms/step - loss: 280.8476 - mae: 12.5904 - mse: 280.8476 - msle: 0.0406
Epoch 42/50
20/20 [==============================] - 0s 23ms/step - loss: 281.3018 - mae: 12.6149 - mse: 281.3018 - msle: 0.0406
Epoch 43/50
20/20 [==============================] - 0s 23ms/step - loss: 263.6177 - mae: 12.1865 - mse: 263.6177 - msle: 0.0380
Epoch 44/50
20/20 [==============================] - 0s 22ms/step - loss: 259.3366 - mae: 12.2636 - mse: 259.3366 - msle: 0.0377
Epoch 45/50
20/20 [==============================] - 0s 23ms/step - loss: 256.4049 - mae: 12.2074 - mse: 256.4049 - msle: 0.0377
Epoch 46/50
20/20 [==============================] - 0s 22ms/step - loss: 246.5629 - mae: 11.8048 - mse: 246.5629 - msle: 0.0360
Epoch 47/50
20/20 [==============================] - 0s 23ms/step - loss: 236.5076 - mae: 11.5655 - mse: 236.5076 - msle: 0.0344
Epoch 48/50
20/20 [==============================] - 0s 22ms/step - loss: 230.7068 - mae: 11.4512 - mse: 230.7068 - msle: 0.0340
Epoch 49/50
20/20 [==============================] - 0s 22ms/step - loss: 233.8542 - mae: 11.5117 - mse: 233.8542 - msle: 0.0343
Epoch 50/50
20/20 [==============================] - 0s 23ms/step - loss: 231.2114 - mae: 11.6152 - mse: 231.2114 - msle: 0.0337

In [28]:
tf.config.experimental_run_functions_eagerly(True)

WARNING:tensorflow:From <ipython-input-28-bdb3352f611a>:1: experimental_run_functions_eagerly (from tensorflow.python.eager.def_function) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.run_functions_eagerly` instead of the experimental version.

WARNING:tensorflow:From <ipython-input-28-bdb3352f611a>:1: experimental_run_functions_eagerly (from tensorflow.python.eager.def_function) is deprecated and will be removed in a future version.
Instructions for updating:
Use `tf.config.run_functions_eagerly` instead of the experimental version.

In [29]:
model.predict(["""As a Data Scientist Architect you will be applying new and innovative methods to address some of our most important intelligence problems \
What You'll Be Doing:\
Knowledge and experience in designing and implementing AI apps and agents that use the Microsoft Azure Cognitive Services, Azure Bot Service, Azure Cognitive Search, and data storage options \
Analyzing requirements for AI solutions Experience with NoSQL databases Experience with applying Data Science techniques to overhead imagery (computer vision, object detection \
Ability to work autonomously and collaboratively as part of a team to both teach and learn every day"""])

/usr/local/lib/python3.7/dist-packages/tensorflow/python/data/ops/dataset_ops.py:3704: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable.debug_mode()`.
  "Even though the `tf.config.experimental_run_functions_eagerly` "

array([[111.76984]], dtype=float32)

In [30]:
model.predict(["""We are looking for a full time iOS Software Engineer to join our team in Olathe, KS. In this role, you’ll be responsible for architecting and developing complex software utilized by the suite of Garmin mobile applications. Responsibilities include:
Develop software using Swift and Objective-C
Utilize tools in the software development process such as Git, Gerrit, Bitbucket, Jira, Confluence, Xcode, and Jenkins
Create and implement designs for software components within a larger project"""])

/usr/local/lib/python3.7/dist-packages/tensorflow/python/data/ops/dataset_ops.py:3704: UserWarning: Even though the `tf.config.experimental_run_functions_eagerly` option is set, this option does not apply to tf.data functions. To force eager execution of tf.data functions, please use `tf.data.experimental.enable.debug_mode()`.
  "Even though the `tf.config.experimental_run_functions_eagerly` "

array([[95.61134]], dtype=float32)